<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include ('./partials/shared/head') %>
</head>

<body>
    <%- include ('./partials/shared/header') %>
    <div class="container">
        <!-- Modals -->
        <%- include ('./partials/modals/newApt') %>
        <%- include ('./partials/modals/editApt') %>
        <%- include ('./partials/modals/viewApt') %>
        <%- include ('./partials/modals/newTag') %>
        
        <H2>My Apartments</H2>
        <div id="toolbar" class="buttons-toolbar">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newAptModal"
            onclick="loadAptCreator()">
                New Apartment
            </button>
        </div>

        <table id="apt-table" class="table table-hover"  data-toolbar="#toolbar" data-toggle="table" data-search="true">
            <% if (apartments.length == 0) { %>
            <p>Add some apartments to see them here</p>
            <% } 
           else { %>
            <thead>
                <tr>
                    <th data-field="name" data-sortable="true">Floorplan Name</th>
                    <th data-field="complex" data-sortable="true">Apartment Complex</th>
                    <th data-field="beds" data-sortable="true" >Bedrooms</th>
                    <th data-field="baths" data-sortable="true" >Bathrooms</th>
                    <th data-field="rent" data-sortable="true" >Rent</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id='aptList'>
                <% for (var i = 0; i < apartments.length; i++) {%>
                <tr>
                    <td> <%= apartments[i].name %> </td>
                    <td> <%= apartments[i].complex %> </td>
                    <td> <%= apartments[i].beds %> </td>
                    <td> <%= apartments[i].baths %> </td>
                    <td> <%= apartments[i].rent %> </td>
                    <td><button type='button' data-toggle="modal" data-target="#editAptModal"
                            onclick="loadAptEditor('<%= i %>')">edit</button>
                            <button type='button' 
                            onclick="deleteApartment('<%= i %>')">delete</button>
                    </td>
                </tr>
                <% }} %>
            </tbody>
        </table>
    </div>

</body>

</html>