<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include ('./partials/shared/head') %>
</head>

<body>
    <%- include ('./partials/shared/header') %>
    <% var targetRent = data.targetRent%>
    <% var allTags = data.allTags %>
    <% var priorityTags = data.priorityTags %> 
    <div class="container">

        <!-- Modals -->
        <%- include ('./partials/modals/newApt') %>
        <%- include ('./partials/modals/editApt') %>
        <%- include ('./partials/modals/newTag') %>
        <h2>Options</h2>

        <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Ideal Monthly Rent:</span>
                </div>
                <input type="text" class="form-control" id='targetRent' name='targetRent' placeholder='<%=targetRent%>' 
                    value='<%=targetRent%>' aria-describedby="basic-addon1">
              </div>

 
            <div id='priorityAptTagGroup' class="btn-group-toggle" data-toggle="buttons">
                <h3>Priority Feature Tags</h3>  
                <% allTags.forEach(tag => { %>
                    <% id = tag.replace(" ", "-"); %>
                    
                    <% if (priorityTags.includes(tag)) { %>
                        <span id='<%= id %>' class= 'btn btn-primary active' ><%=tag%>
                        <input type='checkbox' name='tags' value='<%=tag%>' checked>
                        </span>
                    <% } else { %>
                        <span id='<%= id %>' class= 'btn btn-primary'><%=tag%>
                        <input type='checkbox' name='tags' value='<%=tag%>'>
                        </span>
                    <% }}) %>

                    <button type='button' class='btn btn-success' onclick='updateOptions()'>update</button>
            </div>
        </div>

    </div>
</body>

</html>